:root{
    --p-color: #54585A;
    --p-font: 'Open Sans', sans-serif;
    --titles-font: 'Rubik', sans-serif;
}

.descripcion_alumnas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alumnas {
    display: flex;
    flex-direction: column;
    font-family: sans;
}

.article_alumnas{
    display:flex;
    display: wrap;
    flex-direction: column;
    align-items: center;
}

.article_alumnas p {
    font-family: var(--p-font);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--p-color);
    text-align: center;
    margin: 15px;
}

.article_alumnas h4{
    font-family: var(--p-font);
    font-size: 1.2rem;
    margin-bottom: 0;
}

.pic_container {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 5px antiquewhite solid;
    border-radius: 5px;
    width: 180px;
    height: 180px;
}

.pic {
    width: 100%;
    height: 100%;
}

.title {
    font-family: var(--titles-font);
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #099D8D;
    margin: 0 auto;
    padding: 2rem;
}

.icon {
    color: #099D8D;
    font-size: 1rem;
    text-decoration: none;
}

.twitter::after {
    content:" · ";
}

.linkedin::after {
    content: " · ";
}

.github::after {
    content: " · ";
}

.redes {
    margin: 15px auto 45px auto;
}


@media (min-width: 768px) {

.article_alumnas {
    flex-direction: row;
    flex-wrap: wrap;
}

.pic_container {
    width: 205px;
    height: 205px;
}

.article_alumnas p {
    max-width: 440px;
    text-align: inherit;
    margin-left: 0;
}
.descripcion_alumnas {
    height: 205 px;
    align-items: flex-start;
    padding-left: 30px;
}

.redes {
    margin: 15px 0 45px 0;
}
}


@media (min-width: 1200px) {

.pic_container {
    width: 278px;
    height: 278px;
}    
.article_alumnas p {
    max-width: 440px;
    text-align: inherit;
    margin-left: 0;
    
    
}
}