// fonts
$font-text:'Open Sans', sans-serif;
$font-title:'Rubik', sans-serif;

// colors
$color-text:#54585A;
$color-title:#099d8d;
$color-title-trans: rgb(9, 157, 141, 0.9);
$color-aqua: #14D9C4;
$color-sw: #B8B8B9;
$color-white: white;
$color-black:black;
$color-background: #f1f1f1;


//margins
$margin-container: 15px;





