// fonts
$font-text:'Open Sans', sans-serif;
$font-title:'Rubik', sans-serif;

// colors
$color-text:#54585A;
$color-title:#099D8D;
$color-aqua: #14D9C4;
$color-sw: #B8B8B9;
$color-white: white;


//margins
$margin-container: 15px;





