

.alumnas {
    display: flex;
    flex-direction: column;
    font-family: sans;
}

.title {
    font-family: $font-title;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #099D8D;
    margin: 0 auto;
    padding: 2rem;
}

