.us {
    display: flex;
    flex-direction: column;
    font-family: sans;
}

.us__title {
    font-family: $font-title;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $color-title;
    margin: 0 auto;
    padding: 20px;
}

