
.header {
    background-color: rgba(9, 157, 141, 0.8);
    color: $color-white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
   }
    .header h1 {
        margin:0;
        font-family: $font-title;
        font-size: 3rem;
        text-transform: uppercase;
        padding: 15px;}
nav ul {
    list-style: none;
    padding: 0;
    font-family: $font-title;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: $color-white;
      
}
nav ul li {
    display: inline;
    margin-right: 15px;
    
}
nav a {
    text-decoration: none;
   
}