.hero_contact {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/images/backgroundcontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    @media (min-width: 768px) {
        
        
       
    //   CAMBIAR TAMAÑOS A 440*80 Y EN DESKTOP A 90*574
    @media (min-width: 1200px) {
     
        
    
    }
    }
    
    }