.hero_contact {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('/images/handscontact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
    }