.description{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: left;
        text-align: left;
        &:nth-of-type(even) {
            flex-direction: row-reverse;
            text-align: right;
            align-items: right;
        }
    }
   &__text{
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 15px;
        @media (min-width: 768px) {
            height: 200 px;
            display: flex;
            position: relative;
            top: 10px;       
            }
    }
}    


.description__img {
    margin: 15px;
    padding: 0;
    border: 5px $color-sw solid;
    border-radius: 5px;
    width: 190px;
    height: 190px;
    @media (min-width: 768px) {
        width: 205px;
        height: 205px;
       @media (min-width: 1200px) {
            width: 300px;
            height: 300px;

    }

    }
}
.description__text--p{
    font-family: $font-text;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-text;
    text-align: center;
    padding: 0 15px 10px;
    @media (min-width: 768px) {
        max-width: 440px;
        max-height: 200px;
        text-align: inherit;
        margin: 10px 0px;
        padding: 0;
        @media (min-width: 1200px) {
            
}
    }
}
.description__text--title{
    font-family: $font-text;
    color: $color-black;
    font-size: 2rem;
    margin:0 auto;
    padding-bottom: 10px;
    @media (min-width: 768px) {
        margin:0;
        padding:0;
        @media (min-width: 1200px) {
        max-width: 440px;
        text-align: inherit;
        // margin-left: 0;
        }
    }
}
.description__img--img {
    width: 100%;
    height: 100%;
}

.social {
    margin: 15px auto 45px auto;
    @media (min-width: 768px) {
        margin: 0 0 45px 0;
        @media (min-width: 1200px) {
            margin-top: 15px;
        }
    }
}

.social__icon {
    color: $color-title;
    font-size: 1.6rem;
    text-decoration: none;
}

.social__twitter::after {
    content:" · ";
}

.social__linkedin::after {
    content: " · ";
}

.social__github::after {
    content: " · ";
}


