.description{
    display:flex;
    flex-direction: column;
    align-items: center;
}
    
.description__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description__img {
    margin: 0;
    padding: 0;
    text-align: center;
    border: 5px $color-sw solid;
    border-radius: 5px;
    width: 190px;
    height: 190px;
}

.description__text p {
    font-family: $font-text;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-text;
    text-align: center;
    margin: 15px;
}

.description__text h4{
    font-family: $font-text;
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 20px;
    
}

.description__img--img {
    width: 100%;
    height: 100%;
}

.social {
    margin: 15px auto 45px auto;
}
.social__icon {
    color: $color-title;
    font-size: 1.6rem;
    text-decoration: none;
}

.social__twitter::after {
    content:" · ";
}

.social__linkedin::after {
    content: " · ";
}

.social__github::after {
    content: " · ";
}

@media (min-width: 768px) {

    .description {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    // .reverse {
    //     flex-direction: row-reverse;
    //  }
    
    /*.reverse_text {
    
    }*/
    
    .description__img {
        width: 205px;
        height: 205px;
    }
    
    .description__text {
        height: 205 px;
        align-items: flex-start;
        padding-left: 30px;
    }
    .description__text p {
        max-width: 440px;
        text-align: inherit;
        margin-left: 0;
    }
    
    .social {
        margin: 15px 0 45px 0;
    }
}
    
    
    @media (min-width: 1200px) {
    
    .description__img {
        width: 278px;
        height: 278px;
    }    
    .description__text p {
        max-width: 440px;
        text-align: inherit;
        margin-left: 0;
        
        
    }
    }