.nav {
    width: 140px;
    height: 60px;
    text-align: center;
}

.menu {
    text-align: center;
    list-style: none;
}

a {
    font-size: 14 px;
    font-family: $color-title;
    opacity: 0.75;
    text-decoration: none;
    color: $color-text;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 600;
}