.nav {
    display: flex;
    @media (min-width: 768px) {
    position: absolute;
    top: 25px;
    right: 45px;
    text-align: left;
}
    @media (min-width: 1200px) {
    right: 140px;
   
}
}

.nav__menu {
    text-align: center;
    list-style: none;
    a {
        font-size: 1.4rem;
        font-family: $font-text;
        opacity: 0.75;
        text-decoration: none;
        color: $color-text;
        text-transform: uppercase;
        line-height: 1.4;
        font-weight: 600;
    }
    @media (min-width: 768px) {
        text-align: right;
        line-height: 3;
}
}
