.boxfortalezas{ 
    background-color: rgb(184, 184, 185, 10%);
    font-family: $font-title;
    text-align: center;
    // width: 300px;
    // height: 600px;
    line-height: 45px;
    
 & h3{
    color: $color-title;
    font-size: 2 rem;
    // line-height: 45px;
    
}
 & p{
    font-size: 1.6rem;    
}
}
