
.boxequipo{
    /*margin: 30px;*/
    font-size: 1.2rem;
   
}
.boxequipo p{
    color: $color-text;
    font-family: $color-title;
    padding: 15px;
    text-align: center;

}

.boxequipo h2{
    font-family: $font-title;
    color: $color-title;
    text-align: center;
}
.boxequipo h4{
    font-family: $font-title;
    color: $color-title;
    text-align: center;
    margin-top: 30px;
}