<section class="us" id="about-us">
    <h2 class="us__title">quiénes somos</h2>
    
        <load src="/partials/pmembers.html" 
        name="Natalia López" 
        desc="La veterinaria ha sido mi vocación y profesión de partida y tras catorce años de trayectoria muy enriquecedora, me sumerjo en el sector tecnológico motivada por alcanzar nuevos retos de desarrollo profesional y personal. El esfuerzo, la perseverancia y el trabajo en equipo son algunas de mis herramientas para conseguirlo." 
        img="./images/Natalia.jpg" 
        twitter="https://twitter.com/?lang=ES"
        linkedin="https://www.linkedin.com/in/natalia-l%C3%B3pez-ariel-473936294/"
        github="https://github.com/natlopar/"
        mail="mailto:natalialopezariel@gmail.com"
        />

        <load src="/partials/pmembers.html" 
        name="Gabriela Pinto" 
        desc="Psicóloga y coach, ahora, en el camino de la programación web; la pasión por aprender cosas nuevas, me ha traído a embarcarme en este nuevo desafío, para desde allí enriquecer mis habilidades y conocimientos, con el fin de llegar a ser un aporte en el área, con una perspectiva multifuncional." 
        img="./images/fotoGabi.jpg" 
        twitter="https://twitter.com/?lang=ES"
        linkedin="https://www.linkedin.com/in/gabriela-pinto-v%C3%A1squez-434a015b/"
        github="https://github.com/gabriela-ppv"
        mail="mailto:gabrielapintovas@gmail.com"
        />

        <load src="/partials/pmembers.html"
        name="Nazareth Millan" 
        desc="Siempre me ha entusiasmado la posibilidad de tomar una idea abstracta y materializarla, verla cobrar vida tal como fue pensada, así percibo la informática. Soy Ingeniero de Sistemas especializada en la gestión de proyectos y ahora con Adalab he perfeccionado mis habilidades y competencias convirtiéndome además en Full Stack Developer." 
        img="./images/foto-naza.jpg"
        twitter="https://twitter.com/?lang=ES"
        linkedin="http://www.linkedin.com/in/nazareth-millan-ba458ba9"
        github="https://github.com/NaMillan"
        mail="mailto:nazarethmillan@gmail.com"
        />

        <load src="/partials/pmembers.html" 
        name="Ivana Vit" 
        desc="Soy veterinaria en constante formación y he decidido incorporar un nuevo rol a mi perfil profesional como Full Stack Developer. Me considero proactiva especialmente a la hora de asumir y gestionar nuevos desafíos. Estoy convencida que adoptar una actitud versátil me permite trabajar en equipo, lo cual es imprescindible para llevar adelante nuevos proyectos, tanto en la vida como en el sector tecnológico." 
        img="./images/IvanaVit1.jpg"
        twitter="https://twitter.com/?lang=ES"
        linkedin="https://www.linkedin.com/in/ivana-vit-4a3614163/"
        github="https://github.com/IvanaVit"
        mail="mailto:ivana.marcela.vit@gmail.com"
        />

        <load src="/partials/pmembers.html" 
        name="Yolanda López de la Rica" 
        desc="Soy Yolanda, traductora y correctora, ahora también programadora web. Mi bagaje personal me ha traído a estudiar una nueva carrera casi a la mitad de mi vida laboral. No es que haya olvidado un oficio para aprender otro, sino que ambos saberes se complementan. Y eso enriquece enormemente cada proyecto que afronto." 
        img="./images/IMG_8892 - copia.jpg"
        twitter="https://twitter.com/?lang=ES"
        linkedin="https://www.linkedin.com/in/yolanda-lopez-de-la-rica-perez/"
        github="https://github.com/Wilanda2"
        mail="mailto:yolanda.lopezdelarica@gmail.com"
        />
</section>