<div class="parent">
    <div class="contact">
        <h1 class="contact__title">Contacto</h1>
        <p class="contact__title--p1">Contacta con nosotras para consultarnos por tus nuevos proyectos, compartir tus ideas o simplemente conectar. Estamos a un clic de distancia para crear soluciones tecnológicas.
            </p>
        <p class="contact__title--p2">Todos los campos marcados con<span class="form__fieldset--asterisk"> * </span>son obligatorios</p>
    </div>
    <form action="https://formspree.io/f/mnqkeolk" method="post" class="form">
            <div class="form__fieldset text1">
                <label for="name" class="form__fieldset--label">Nombre completo<span class="form__fieldset--asterisk">*</span></label>
                <input class="form__fieldset--input" type="text" id="name" name="name" placeholder="Nombre..." required/>
            </div>
            <div class="form__fieldset text2">
                <label for="email" class="form__fieldset--label">Email<span class="form__fieldset--asterisk">*</span></label>
                <input class="form__fieldset--input"  type="email" id="email" name="email" placeholder="nombre.apellido@mail.com" required/>
            </div>
            <div class="form__fieldset text3">
                <label for="telefono" class="form__fieldset--label">Teléfono</label>
                <input class="form__fieldset--input" type="tel" id="telefono" name="telefono" placeholder="Ej:123456789"/>
            </div>
            <div class="form__fieldset text4">
                <label for="mensaje" class="form__fieldset--label">Mensaje<span class="form__fieldset--asterisk">*</span></label>
                <textarea  name="mensaje" rows="10" columns="1" placeholder="¿Qué necesitas?" required class="form__fieldset--input"></textarea>
            </div>
            <div class="form__fieldset text5">
                <input type="submit" value="Enviar" class="form__fieldset--button"/>
            </div>
    </form>
</div>
