<div class="parent">
<div class="contact">
    <h1 class="contact__title">Contacto</h1>
    <p class="contact__title--p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis corporis nesciunt eaque! Praesentium facere
        numquam quidem molestiae et ullam laborum? Modi iure ea harum earum iusto adipisci perspiciatis excepturi
        omnis!</p>
    <p class="contact__title--p2">Todos los campos marcados con<span class="form__detail--asterisk">*</span>son obligatorios</p>
</div>
<!-- <div class="form"> -->
    <form action="dirección del servidor donde se envían los datos del formulario" method="post" class="form">
        <label for="name" class="form__label">Nombre completo<span class="form__asterisk">*</span></label>
        <input type="text" id="name" name="name" placeholder="Nombre..." required/>

        <label for="email" class="form__label">Email<span class="form__asterisk">*</span></label>
        <input type="email" id="email" name="email" placeholder="nombre.apellido@mail.com" required/>

        <label for="telefono" class="form__label">Teléfono</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Ej:123456789"/>

        <label for="mensaje" class="form__label">Mensaje<span class="form__asterisk">*</span></label>
        <textarea id="mensaje" name="mensaje" rows="3" columns="1" placeholder="¿Qué necesitas?" required></textarea>

        <button type="submit">Enviar</button>  
        <!-- <input type="submit" value="Enviar info" /> -->
    </form>
</div>
<!-- </div> -->