<header>
    <div class="header-back"></div>
        <nav>
        <div class="site-title">3v Devs</div>
            <ul class="list">
            <li><a href="#team">Equipo</a></li>
            <li><a href="#about-us">Quienes somos</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
  <div class="content-slogan">
        <h2 class="slogan">La mirada tecnológica que buscabas</h2>
    </div>
</header>


















<!--<header>
    <div class="header-back"></div>
        <nav>
        <div class="site-title">3v Devs</div>
            
    </nav>
  <div class="slogan">
        <h2>La mirada tecnológica que buscabas</h2>
    </div>
</header>

    <figure class="imagenHeader">
        <img src="../images/foto-inicial.jpg"/>
    </figure>
     -->
  