<header class="header">
    <h1>3v Devs</h1>
    <nav class="nameTeam">
       <nav class="nameTeam">
        <ul class="menuTeam">
            <li><a>Equipo</a></li>
            <li><a>Quiénes somos</a></li>
            <li><a>Contacto</a></li>
        </ul>
    </nav>
    <!--<figure class="imagenHeader">
        <img src="../images/foto-inicial.jpg"/>
    </figure>
    <div class="slogan">
        <p class="contentSlogan">La mirada tecnológica que buscabas</p>
    </div> -->

</header>
  