<article class="description">
    <figure class="description__img">
        <img src="{=$img}" alt="Foto miembro equipo" class="description__img--img">
    </figure>
    <div class="description__text">
        <h4 class="description__text--title">{=$name}</h4>
        <p class="description__text--p">{=$desc}</p>
        <span class="social">
            <a href="{=$twitter}" class="social__icon social__twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="{=$linkedin}" class="social__icon social__linkedin">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="{=$github}" class="social__icon social__github">
                <i class="fa-brands fa-github-alt"></i>
            </a>
            <a href="{=$mail}" class="social__icon">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </span>
    </div>
</article>