<section class="boxfortalezas">
  <div class="square"></div>  
  <div class="boxfortalezas__div">
      <h3>Fortalezas</h3>
      <p>Dentro de las fortalezas del equipo, cabe destacar que para conocernos de tan poco tiempo, hemos trabajado de una manera muy enriquecedora, aportando cada una empatía, comunicación, comprensión y mucha escucha.
      Lo anterior, nos ha llevado a realizar nuestro proyecto de manera organizada, comprometida y coordinada, pero sobre todo con una actitud muy positiva frente al desafío que significa cada proyecto.</p>
  </div>
  <div class="boxfortalezas__div">
      <h3>Debilidades</h3>
      <p>En cuanto a las debilidades que enfrentamos como equipo, cabría destacar que la rapidez con la que se generan nuevas propuestas de proyectos, a veces, no nos permite dedicar el tiempo que creemos oportuno para profundizar en cada tarea. No obstante, gracias a la organización del equipo, logramos superar cualquier inconveniente o contratiempo que pueda surgir y completar el trabajo en los tiempos estimados.</p>
  </div>
</section>


